.page1__header {
    color: black;
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.page1 {
    border-color: solid black 10px;
    border-radius: 10px;
}

.workinghour__img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    filter: blur(1px);
}

.newsletterimg {
    filter: contrast(calc(0.8));
    filter: saturate(0.8);
    border-radius: 10px;

}

/* tableimg */
.tableimg{
    border-radius: 10px;
}
.Table{
    box-shadow: 0 4px 8px 0 rgba(6, 6, 6, 0.5), 0 6px 20px 0 rgba(134, 2, 2, 0.19);

}
.table--content{
    margin: 10px;
}
.table:hover{
    box-shadow: 0 4px 8px 0 rgba(6, 6, 6, 0.5), 0 6px 20px 0 rgba(134, 2, 2, 0.19);
}
.table--content:hover {
    transform: translatey(-5%);
    transition-duration: 0.5s;

}