

.content__center--form{
    font-size: 5vh;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.nav__contant--collection{
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    color:black;
    border-radius: 10px;
    padding: 10px;
    font-size: 4vh;
    font-weight: bold;
}

.nav__contant--collection li:hover{
    background-color: aqua;
    cursor: pointer;
}
.navbar{
    border-radius:0px 0px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(6, 6, 6, 0.5), 0 6px 20px 0 rgba(134, 2, 2, 0.19);
}

