

.content__center--form{
    font-size: 5vh;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.nav__contant--collection{
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    color:black;
    border-radius: 10px;
    padding: 10px;
    font-size: 4vh;
    font-weight: bold;
}

.nav__contant--collection li:hover{
    background-color: aqua;
    cursor: pointer;
}

